// background-color
$background: linear-gradient(45deg, #7a9ff0 0%, #a00000 50%, #7a9ff0 100%);
$background-color: #53647a;
$primary-color: rgb(245, 245, 247);
$secondary-color: rgb(1, 42, 53);


// colors
$primary-text-color: black;
$white-text-color: white;
$red-text-color: red;
$dark-red-text-color: darkred;
$green-text-color: green;
$grey-text-color: grey;
